--white: hsla(0, 0%, 100%, 1);
--azure-mist: hsla(190, 60%, 94%, 1);
--light-cyan: hsla(186, 60%, 87%, 1);
--frosted-blue: hsla(192, 65%, 78%, 1);
--sky-blue-light: hsla(195, 68%, 72%, 1);
--sky-blue-light-2: hsla(195, 70%, 68%, 1);
--sky-blue-light-3: hsla(191, 64%, 63%, 1);