--porcelain: hsla(60, 33%, 99%, 1);
--lavender-blush: hsla(349, 80%, 96%, 1);
--petal-frost: hsla(318, 50%, 88%, 1);
--pink-orchid: hsla(300, 37%, 81%, 1);
--wisteria: hsla(294, 37%, 73%, 1);
--amethyst-smoke: hsla(306, 30%, 65%, 1);
--petal-pink: hsla(317, 28%, 61%, 1);
