--baltic-blue: hsla(216, 34%, 45%, 1);
--glaucous: hsla(223, 39%, 55%, 1);
--slate-indigo: hsla(229, 31%, 53%, 1);
--slate-blue: hsla(243, 30%, 56%, 1);
--deep-lilac: hsla(265, 27%, 51%, 1);
--vintage-lavender: hsla(283, 26%, 47%, 1);
