--jasmine: hsla(41, 97%, 72%, 1);
--sunlit-clay: hsla(35, 99%, 71%, 1);
--sandy-brown: hsla(27, 93%, 68%, 1);
--salmon: hsla(12, 93%, 73%, 1);
--salmon-2: hsla(6, 96%, 71%, 1);
--bubblegum-pink: hsla(356, 93%, 67%, 1);
