--cornsilk: hsla(48, 95%, 93%, 1);
--light-yellow: hsla(70, 68%, 91%, 1);
--tea-green: hsla(96, 52%, 83%, 1);
--celadon: hsla(126, 51%, 81%, 1);
--pearl-aqua: hsla(161, 46%, 73%, 1);
--pearl-aqua-2: hsla(181, 45%, 65%, 1);
--pacific-blue: hsla(189, 49%, 61%, 1);
