--jasmine: hsla(45, 98%, 74%, 1);
--dry-sage: hsla(59, 39%, 65%, 1);
--muted-olive: hsla(79, 30%, 62%, 1);
--muted-teal: hsla(123, 18%, 57%, 1);
--jungle-teal: hsla(163, 23%, 42%, 1);
--deep-teal: hsla(170, 23%, 36%, 1);
